:root{
    --primaryFont: "Poppins", sans-serif;

    --fontSize: 15px;

    --Grey500: hsl(234, 12%, 34%);
    --Grey400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: auto;
}

body{
    font-size: var(--fontSize);
    font-family: var(--primaryFont);
    background-color: var(--White);
    color: var(--Grey400);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;
}

header{
    text-align: center;
}

header p{
    max-width: 500px;
    margin: 0 auto;
    font-weight: 400;
    margin-top: 20px;
}

header h3{
    font-size: 34px;
    font-weight: 600;
    color: var(--Grey500);
}

header h4{
    font-size: 34px;
    font-weight: 200;
    color: var(--Grey400);
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 60px;
}

.box{
    background-color: white;
    border-radius: 7px;
    padding: 30px;
    text-align: right;
    box-shadow: 0 6px 10px var(--Grey400);
}

.box-text{
    text-align: left;
    padding-bottom: 30px;
}

.box-text h5{
    color: var(--Grey500);
    font-size: 20px;
    margin-bottom: 10px;
}

.box1{
    border-top: 4px solid var(--Cyan);
}

.box2{
    border-top: 4px solid var(--Red);
}

.box3{
    border-top: 4px solid var(--Orange);
}

.box4{
    border-top: 4px solid var(--Blue);
}

.box-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box1, .box4{
    align-self: center;
}

@media only screen and (max-width: 375px) {
    main{
        grid-template-columns: 1fr;
    }
}